summary::marker{
    content: "👉";
}
summary{
    padding-left: 10px;
    background-color:#00416A;
}
.w200{
    min-width:200px;
    width: fit-content;
    font-size:x-large;
}
details[open] summary::marker{
    content: "👇";
}
details{
    background:#0071c5;
    color: whitesmoke;
}
ul{
   margin: 0; 
}

.task{
    display: flex;
}

.task > input[type='checkbox']{
    position: relative;
    float: right;
    margin-right: 10px;
    margin-left:30px;
    align-self: center;
}